.profile__text-first{
    display: flex;
    justify-content: space-between;
    max-width: 336px;
    align-items: center;
}
@media screen and (max-width: 650px){
    .profile__text-first {
       max-width: 250px;
       margin-top: 25px;
    }
}